@import "header.scss";
@import "footer.scss";
@import "portpholio.scss";
body {
    width: 1600px;
    height: 2349px;
    margin: 50px;
    background: #FFFFFF;
}

nav {
    width: 294px;
    height: 16px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.hero {
    position: relative;
    width: 1600px;
    height: 600px;
    left: 0px;
    top: 0px;
    margin: 0 0 90px 0;
    background: #2F303A;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    justify-content: center;

    &__title {
        width: 696px;
        height: 120px;
        margin: 0;
        font-family: 'Roboto'; // доделать
        font-style: normal;
        font-weight: 900;
        font-size: 44px;
        line-height: 60px;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    &__button {
        width: 200px;
        height: 50px;
        margin-top: 30px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 30px;
        /* identical to box height, or 188% */
        background: #2196F3;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        text-align: center;
        letter-spacing: 0.06em;
        color: #FFFFFF;
    }
}

.hiddenh2 {
    display: none;
}

.features {
    position: relative;
    width: 1170px;
    height: 101px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: space-between;

    &__element {
        width: 270px;
        height: 101px;
    }
}

.feature {
    display: flex;
    flex-flow: column nowrap;

    &__title {
        margin: 0 0 10px 0;
        padding: 0;
        font-family: 'Roboto'; // доделать
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #212121;
    }

    &__about {
        margin: 0;
        padding: 0;
        font-family: 'Roboto'; // доделать
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
        color: #757575;
    }
}

.whatarewedoing {
    position: relative;
    margin: 90px auto 94px auto;
    width: 1170px;
    height: 386px;


    &__title {
        padding: 0;
        margin: 0 auto 50px auto;
        text-align: center;
        font-family: 'Roboto'; // доделать
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        letter-spacing: 0.03em;
        color: #212121;
    }

    &__list {
        margin: 0 0 94px 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
    }
}

.to-do-list {

    &__pict {}
}

.companyteam {
    position: relative;
    margin: 0;
    padding: 0;
    width: 1600px;
    height: 648px;
    display: flex;
    flex-flow: column nowrap;
    // justify-content: space-between;
    align-items: center;
    background: #F5F4FA;

    &__title {
        margin: 94px auto 50px auto;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
    }

    &__list {
        width: 1170px;
        height: 368px;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
    }

    &__person {
        position: relative;
        width: 270px;
        height: 368px;
    }
}

.person {

    &__photo {}

    &__name {
        margin: 0;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        /* identical to box height */

        text-align: center;
        letter-spacing: 0.03em;

        color: #212121;

    }

    &__job {
        margin: 0;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        /* identical to box height */

        text-align: center;
        letter-spacing: 0.03em;

        color: #757575;
    }
}